
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ todolist.name }}</title>
</head>
<body>
    <main>
        <div>
            <h1>{{todo_list.name}} Details</h1>
            <p>
                <a href="{% url 'update_todo_list' todo_list.id %}">Edit</a>
            </p>
            <h2> Tasks </h2>
            <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>
                        <a href="{% url 'todo_list_list' %}">{{ task.task }}</a>
                    </td>
                    <td>{{ task.due_date|date:"F j, Y" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </main>

</body>
</html>
